@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-red: #ff0707;
    --color-redHover: #ba0000;
}

@font-face {
    font-family: Gotham;
    src: url("/public/assets/fonts/Gotham/Gotham-Bold.woff") format("woff"),
        url("/public/assets/fonts/Gotham/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: Gotham;
    src: url("/public/assets/fonts/Gotham/Gotham-Medium.ttf") format("woff"),
        url("/public/assets/fonts/Gotham/Gotham-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Gotham;
    src: url("/public/assets/fonts/Gotham/Gotham-Book.woff") format("woff"),
        url("/public/assets/fonts/Gotham/Gotham-Book.woff2") format("woff2");
    font-weight: normal;
}

body,
html {
    font-family: "Gotham", sans-serif;
    font-size: 14px;
    background-color: #f2efef;
}

.fe-btn {
    background: linear-gradient(
        90deg,
        rgba(224, 81, 81, 1) 0%,
        rgba(255, 148, 48, 1) 50%,
        rgb(248, 74, 74) 75%,
        rgba(255, 123, 0, 1) 100%
    );
    background-size: 200% 200%;
    background-position: left center;

    transition: background-position 0.5s ease-in-out;
}

.fe-btn:hover {
    background-position: right center;
}

button.btn-secondary,
a.btn-secondary {
    color: #ff0707;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #ff0707;
    text-transform: uppercase;
}

button.btn-secondary:hover,
a.btn-secondary:hover {
    background: #ff0707;
    color: #fff;
    border: 1px solid #fff;
}

button.btn,
a.btn {
    background: #ff0707;
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

button.btn:hover,
a.btn:hover {
    background: #ba0000;
}

button.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

ul.sidenav li {
    transition: 0.2s ease-in-out;
}

ul.sidenav li.active a:hover {
    color: #fff;
}

ul.sidenav li a:hover {
    color: #ff0707;
}

table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    border-radius: 4px;
    color: #45556c;
}

table thead {
    background-color: #eeeeee;
}

table thead tr th {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
}

table thead tr th:last-child {
    text-align: right;
}

table tbody tr td:last-child {
    text-align: right;
    width: 100px;
}

table tr td {
    padding: 10px 12px;
    /* border-bottom: 1px solid #e9e9e9; */
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

table tbody tr {
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

table tbody td {
    white-space: nowrap;
}

table tbody tr:hover {
    background-color: #ececec;
}
